*{ margin:0; padding: 0;}
html{
    height:100%;
}
body{
    height:100%;
    overflow: hidden;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
}

#camera-zoom{
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    position: absolute;
    left: 50%;
    top:50%;
    -webkit-perspective: 1000px; 
    -webkit-transition: all 1s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s;
}
#camera-move{
    position: absolute;
    left: 50%;
    top:50%;

    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 1s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s;
}
.step{
    background:rgba(255, 165, 0, 1);
    width:960px;
    height:600px;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    display: -webkit-flexbox;
    -webkit-flex-pack: center;
    -webkit-flex-align: center;
    -webkit-flex-direction: column;

    -webkit-transition: all 1s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
#overview{
    display: none;
}


/*text effect*/
.text{
    -webkit-transform-style: preserve-3d;    
}

.text-transition{
    -webkit-transition:all 1000ms cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s;
}

/*fly*/
.text-fly-hide{
    opacity: 0;            
    -webkit-transform-origin: 50% 50% 50px;
    -webkit-transform: rotateX(-180deg );
}

.text-fly-show{
    opacity: 1;            
    -webkit-transform-origin: 50% 50% 50px;
    -webkit-transform: translateZ(0px); 
}
/*flip*/
.text-flip-hide{
    opacity: 0;
    -webkit-transform-origin: 0% 0%;
    -webkit-transform: rotateX(80deg );
    
}
.text-flip-show{
    opacity: 1;
    -webkit-transform-origin: 0% 0%;
    -webkit-transform: translateZ(0px);
}

/*flip x*/
.text-flip-x-hide{
    opacity: 0;            
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: rotateX(-180deg );
}
.text-flip-x-show{
     opacity: 1;            
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: rotateX(0deg );   
}

/*flip y*/
.text-flip-y-hide{
    opacity: 0;            
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: rotateY(-180deg );
}
.text-flip-y-show{
     opacity: 1;            
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: rotateY(0deg );   
}

/*card*/
.text-card-hide{
    opacity: 0;            
    -webkit-transform-origin: 100% 50%;
     -webkit-transform: translate3d( 0, 100px, 100px ) rotateX(90deg );
}
.text-card-show{
    opacity: 1;            
    -webkit-transform-origin: 100% 50%;
    -webkit-transform: translateZ(0px); 
}
