*{ margin:0; padding: 0;}
html{
    height:100%;
}
body{
    height:100%;
    overflow: hidden;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
}

#camera-zoom{
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    position: absolute;
    left: 50%;
    top:50%;
    -webkit-perspective: 1000px; 
    -webkit-transition: all 1s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s;
}
#camera-move{
    position: absolute;
    left: 50%;
    top:50%;

    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 1s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s;
}
.step{
    background:rgba(255, 165, 0, 1);
    width:960px;
    height:600px;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    
    -webkit-transition: all 1s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
#overview{
    display: none;
}